<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="stock-chart">
    <meta name="author" content="jess901108">

    <title>Find historical stock price of your choic</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    
    {{!--Jquery--}}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    
    {{!--High stocks.js--}}
    <script src="https://code.highcharts.com/stock/highstock.js"></script>

    <!-- Custom styles for this template -->
    <link href="/css/main.css" rel="stylesheet">

    {{!--Firebase--}}
    <script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>
  </head>

  <body>
    <!-- Begin page content -->
    <div class="container">
      <div class="page-header">
        <h1 class="text-center">Stocks</h1>
        
      </div>
      {{{body}}}
    </div>

    <footer class="footer">
      <div class="container">
        <p class="text-muted">@jess901108</p>
      </div>
    </footer>


  </body>
</html>